* {
  margin: 0;
  border: 0;
  padding: 0;
}
.main {
  width: 300px;
  height: 400px;
  border-radius: 50px;
  border: dotted thin white;
  background-color: rgba(160, 60, 5, 0.5);
  background-blend-mode: luminosity;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx3FKtz5gcxMo2_skXF4EzNb7JWrUXD4h2eQ&s);
  background-size: cover;
  background-repeat: no-repeat;
}
.h1 {
  background-color: rgba(255, 0, 0, 0.505);
}
h1 {
  font-size: large;
  font-family: cursive;
  font-style: italic;
  color: black;
  text-align: center;
}
button {
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  background-color: springgreen;
  cursor: pointer;
  height: 30px;
  width: 100px;
}
